<div class="row mb-2">
  <h1 class="text-center">Ruru</h1>
</div>
<div class="row mb-2">
  <p class="text-center">
    <%= link_to "LINE Bot", "https://page.line.me/?accountId=kbr5443s&openerPlatform=native&openerKey=talkroom%3Aheader#mst_challenge=dcfkvBhC8rVSJOQE6pqo4i-TbOtcv4gImKvvI0VNObw", class: "sub-title" %>
  </p>
</div>
<div class="row mb-2">
  <p class="text-center">
    <%= link_to "ふるさと納税寄付金限度額シミュレーション", :hurusato_index, class: "sub-title" %>
  </p>
</div>
<div class="row">
  <p class="text-center">
    <%= link_to "使い方", "https://github.com/belion-freee/pappen", class: "button help-link" %>
  </p>
</div>

<script>
  $(function () {
    // fade-in
    $("h1").hide().fadeIn(1700);
    $("a").hide();
    setTimeout(function(){
      $("a").fadeIn(1500);
    }, 800);
  });
</script>
