<h1>Twitter名言Bot</h1>
<p id="notice"><%= @notice %></p>
<table>
  <%= form_tag(controller: :home, action: :tweet) do %>
    <tr>
      <td>
        <label>カテゴリー</label>
      </td>
      <td>
        <select class="select1" id="select_category" name="category">
          <%= options_for_select(@res) %>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <%= submit_tag "Tweet" %>
      </td>
    </tr>
  <% end %>
</table>
