<div class='wave one'></div>
<div class='wave two'></div>
<div class='wave three'></div>
<div class="content">
  <div class="row">
    <h1 class="maxim-tweet">Topuru</h1>
  </div>
  <div class="row">
    <p class="tweet-text">
      <a class="sub-title" id="tweet-maxim" href="#" data-url="<%= tweet_url %>" data-category='<%= Settings.maxim.category.to_json.html_safe %>'>
        <strong>Tweet Now</strong>
      </a>
    </p>
  </div>
  <div class="row">
    <p class="text-center">
      <%= link_to "Or new create?", "#", data: { url: maxims_url, title: "New Remarks!", method: "POST"  }, class: "button tweet-link", id: "new-maxims" %>
    </p>
  </div>
  <div class="row">
    <p class="text-center">
      <a class="button tweet-index-link" href="maxims">Show remarks</a>
    </p>
  </div>
</div>

<%= render partial: 'maxims/form' %>

<script>
  $(function () {
    // fade-in
    $("h1").hide().fadeIn(1700);
    $("a").hide();
    setTimeout(function(){
      $("a").fadeIn(1500);
    }, 800);
  });
</script>
