// https://github.com/sweetalert2/sweetalert2/issues/834

.swal2-popup {
  font-size: 1.6rem !important;
}

.tweet-home {
  background-image: image-url("home.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #000000;

  .align_center {
    margin-left: 20%;
  }

  .tweet-header {
    display: table;
    padding-top: 80px;
    width: 100%;
  }

  .content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  /* Special */
  .sub-title {
    color: #efecec;
    margin: 50px auto;
    font-size: 18px;
    line-height: 23px;
  }

  .tr-hover:hover{
    background-color: rgba(80,80,80,0.8);
  }

  h1 {
    font-family: "Helvetica Neue", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    color: #efecec;
    font-size: 40px;
    line-height: 50px;
    font-weight: 400;
    padding-bottom: 40px;
  }

  .tweet-link {
    font-size: 20px;
    font-weight: 250;
    color: #ffffff;
  }

  .top-text {
    font-size: 16px;
    font-weight: 150;
    margin: 0 0 15px;
    padding-top: 40px;
  }

  .pt-1 {
    padding-top: 10px;
  }

  table {
    color: #ffffff;

    thead {
      background-color: rgba(80,80,80,0.8);
    }

    .wrap {
      p {
        @media only screen and (max-device-width: 480px) {
          width: 300px;
          word-break: break-all;
          white-space: normal;
        }
      }
    }
  }

  .cp_ipselect select {
    width: 100%;
    padding-right: 1em;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    border: none;
    outline: none;
    background: transparent;
    background-image: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
  }

  .cp_ipselect select::-ms-expand {
    display: none;
  }

  .cp_ipselect.cp_sl01 {
    position: relative;
    border: 1px solid #bbbbbb;
    border-radius: 2px;
    background: #ffffff;
  }

  .cp_ipselect.cp_sl01::before {
    position: absolute;
    top: 0.8em;
    right: 0.9em;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #666666;
    pointer-events: none;
  }

  .cp_ipselect.cp_sl01 select {
    padding: 8px 38px 8px 8px;
    color: #666666;
  }

  .pagination {
    li a {
      background-color: rgba(255,255,255,0.3);
      color: white;
    }

    .active a {
      background-color: #dddddd;
      border-color: #dddddd;
      color: black;
    }
  }
}
